<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Twpist / ホーム</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="ackyla">
    <meta name="author" content="phelrine">    
    <meta name="description" content="twitterのタイムラインを利用してタイピングができます。">
    <meta name="keywords" content="タイピング,typing,ツイッター,twitter,ツイピスト,twpist">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

		<link rel="shortcut icon" href="img/icon.gif">
		<%= stylesheet_tag 'application' %>
		<%= javascript_tag 'application' %>
    <script type="text/javascript" src="js/ejs.js"></script>
    <script type="text/javascript" src="js/twitter-text.js"></script>
    <script type="text/javascript" src="js/dict.js"></script>
    <script type="text/javascript" src="js/romanization.js"></script>
    <script type="text/javascript" src="js/game.js?1418395683"></script>
  </head>

  <body>
    <input type="hidden" name="screen_name" value="<%= @screen_name %>" />
    <header class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="/">Twpist</a></h3>
          <ul class="nav">
            <li><a href="<%= url('/logout') %>" class="logout">ログアウト</a></li>
          </ul>
        </div>
      </div>
    </header>

    <div id="main" class="container">
      <div class="timeline-container span10">
	    <div class="typing-container">
          <div class="level-container" style="text-align: center;">
            <h2>難易度を選択してください</h2>
            <div id="level-buttons">
              <button id="level-easy" class="btn">EASY</button>
              <button id="level-normal" class="btn primary">NORMAL</button>
              <button id="level-hard" class="btn">HARD</button>
            </div>
            <description id="level-description">
              URL、記号が除外されたツイートが出題されます。
            </description>
            <div class="tweet-button-container">
              <button id="start-button" class="btn primary">スタート</button>
            </div>
          </div>
          <div class="controller-container" style="display: none;">
            <div class="popover-wrapper clear">
	          <div class="img-container">
		        <img class="icon front" style="display: none;"/>
		        <img class="icon pre1"/>
		        <img class="icon pre2" style="opacity: 0.8"/>
		        <img class="icon pre3" style="opacity: 0.7"/>
		        <img class="icon pre4" style="opacity: 0.6"/>
		        <img class="icon pre5" style="opacity: 0.5"/>
		        <img class="icon pre6" style="opacity: 0.4"/>
		        <img class="icon pre7" style="opacity: 0.3"/>
		        <img class="icon pre8" style="opacity: 0.2"/>
		        <img class="icon pre9" style="opacity: 0.1"/>
	          </div>
              <div class="popover below">
                <div class="arrow"></div>
                <div id="problem-container" class="inner"></div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="result hidden">
            <h2 style="margin-bottom: 5px;">結果はどうだった？</h2>
            <div id="result-typing" class="hidden"></div>
            <div class="tweet-button-container">
              <button id="tweet-button" class="btn">結果をツイートする</button>
              <a href="/game" class="btn primary">もう一度遊ぶ</a>
            </div>
          </div>
        </div>
	    <ul class="tabs" style="background-color: whitesmoke;">
	      <li class="active timeline"><a href="#">タイムライン</a></li>
	      <li class="result" style="display: none;"><a href="#">結果</a></li>
	    </ul>
        <ul class="timeline"></ul>
        <ul class="result"></ul>
      </div>
      <div class="ad-container span6">
	    <br>
	    <h1>広告１</h1>
	    <h1>広告２</h1>
	    <h1>広告３</h1>
      </div>
    </div>
  </body>
</html>
