div.main-layout {
    background-color: white;
    margin-top:60px;
    margin-bottom:30px;
    padding: 3px;
    border: none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
    line-height: 0;
}

div.mini-layout {
    background-color: white;
    height: 149px;
    margin-bottom: 20px;
    padding: 3px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.398438);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.398438);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.398438);
    line-height: 0;
}

img.image {
    background: #FAFAFA;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #FAFAFA), to(#F2F2F2));
    background: -moz-linear-gradient(top, #FAFAFA 50%, #F2F2F2);
    zoom: 1;
}


img.image:hover {
    background: #FDFDFD;
    background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#FAFAFA));
    background: -moz-linear-gradient(top, #FDFDFD, #FAFAFA);
}

/* SlideArea
-------------------------- */
#slidemask {
	height: 570px;
	overflow: hidden;
	position: relative;
}

/* PhotoSlideArea
-------------------------- */
ul#photo {
	top: 0;
	left: 0;
	margin: 0;
	width: 2802px;
	position: absolute;
}
ul#photo li {
	float: left;
	position: relative;
	list-style: none;	
}

/* CSS3 PhotoSlideAnimation
-------------------------- */
@-webkit-keyframes AutoSlidePhoto {
	0% {left: 0;}

	28% {left: 0;}
	33% {left: -934px;}

	61% {left: -934px;}
	66% {left: -1868px;}

	94% {left: -1868px;}
	100% {left: 0;}
}

@-moz-keyframes AutoSlidePhoto {
	0% {left: 0;}

	28% {left: 0;}
	33% {left: -934px;}

	61% {left: -934px;}
	66% {left: -1868px;}

	94% {left: -1868px;}
	100% {left: 0;}
}

ul#photo {
	-webkit-animation-name: AutoSlidePhoto;
	-webkit-animation-duration: 20s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name: AutoSlidePhoto;
	-moz-animation-duration: 20s;
	-moz-animation-iteration-count:infinite;	
}

@-webkit-keyframes Pop {
    0% {opacity: 0; top: -100px;}
    39% {top: -100px;}
    40% {opacity: 0; top: 0px;}
    45% {opacity: 0.8; top: 45px;}
    94% {opacity: 0.8; top: 45px;}
    99% {opacity: 0; top: 0px;}
    100% {top: -100px;}
}

@-moz-keyframes Pop {
    0% {opacity: 0; top: -100px;}
    39% {top: -100px;}
    40% {opacity: 0; top: 0px;}
    45% {opacity: 0.8; top: 45px;}
    94% {opacity: 0.8; top: 45px;}
    99% {opacity: 0; top: 0px;}
    100% {top: -100px;}
}

#signin {
    top: -100px;
    -webkit-animation-name: Pop;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: Pop;
    -moz-animation-duration: 20s;
    -moz-animation-iteration-count: infinite;
}

div#signin .twipsy-arrow {
    border-bottom: 5px solid #0064cd;
}
div#signin .twipsy-inner {
    border: 1px solid #0064cd;
    background: #0064cd;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #0064cd), to(#0049cd));
    background: -moz-gradient(linear, left top, left bottom, color-stop(0.5, #0064cd), to(#0049cd));    
    text-shadow: 0px -1px 0px #000;
}