div#main {
    margin-top: 60px;
}

div.typing-container {
    background: whiteSmoke;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border: 1px solid #EEE
    border-style: solid solid hidden;
    height: 100%;
}

#level-buttons {
    margin: 1em;
}

#level-description {
    font-size: 1.2em;
    background-color: white;
    border: 3px solid gray;
    border-radius: 5px 5px 5px 5px;
    padding: 3px;
    text-align: justify;
    display: inline-block;
}

div.popover-wrapper {
    border: 1px solid silver;
    background: #FEFBF3;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

div.popover-wrapper div.img-container {
    padding: 5px 5px 0 5px;
    height: 60px;
}

div.popover-wrapper div.popover {
    display: block;
    position: relative;
    padding: 5px 10px 5px 5px;
}

div.popover.below div.arrow {
    left: 32px;
}


div.popover div.inner {
    width: 100%;
}

#problem-header {
    background: whiteSmoke;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #EEE;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

#problem-text {
    background: white;
    padding: 5px;
}

#problem-input {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    background: #D1EED1;
    padding: 5px 0 5px;
    border-top: 1px solid #BFE7BF;
}

#problem-romaji {
    padding: 5px;
    border: 1px solid #CCC;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    background: white;
    margin: 0 5px 0 5px;
}

#result-typing {
    position: relative;
    background: black;
    padding: 3px;
    margin: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
div.tweet-button-container {
    position: relative;
    text-align: right;
    margin: 10px 0px 0px 0px;
}

div.timeline-container {
    margin-left: 0;
    background-color: white;
    position: relative;
    z-index: 1000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 4px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,.5);
    min-height: 600px;
}

div.ad-container {
    position: relative;
    z-index: 0;
}

img.tweet-image {
    width: 48px;
    height: 48px;
    float: left;
    margin-left: 1.5em;
}

div.tweet-content {
    margin: 0 2em 0 6em;
}

span.tweet-screen-name {
    font-weight: bold;
    color: black;
    font-size: 15px;
}

span.tweet-name {
    font-weight: normal;
    color: gray;
    font-size: 12px;
    vertical-align: baseline;
}

div.tweet-text {
    font-size: 15px;
    color: black;
}

div.tweet-time {
    font-size: 12px;
    margin-bottom: 12px;
}

hr.tweet-hr {
    margin: 1em 0;
}

ul.result, ul.timeline {
    background-color: white;
    margin: 0;
    padding-top: 1em;
    list-style: none;
}

div#main.container {
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #DDEEF6;
    background: rgba(221, 238, 246, 0.9);
    _background-color: #DDEEF6;
}

div.img-container img.icon {
    width: 53px;
    height: 53px;
    border-radius: 6px;
    border: 1px solid silver;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
}

.break-word {
    overflow: hidden;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    text-align: right;
}

.hidden {
    display: none;
}
