div#main {
    margin-top: 60px;
}

div.typing-container {
    background: whiteSmoke;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border: 1px solid #EEE
}

div.popover-wrapper img.icon {
    margin: 4px;
    width: 48px;
    height: 48px;
    float: left;
}

div.popover-wrapper div.popover {
    display: block;
    position: relative;
    margin-left: 60px;
}

div.popover.right div.arrow {
    top: 25px;
}

div.popover div.inner {
    width: 100%;
}

div.inner h2.typing-assignment {
    border-radius: 5px 5px 5px 5px;
}

div.typing-container textarea {
    display: block;
    resize: vertical;
    width: 95%;
    height: 48px;
}

div.tweet-button-container {
    position: relative;
    text-align: right;
    margin: 10px 0px 5px 0px;
}

div.timeline-container {
    background-color: white;
    position: relative;
    z-index: 1000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 4px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,.5);
    min-height: 600px;
}

div.ad-container {
    position: relative;
    z-index: 0;
    padding-left: 25px;
    background: #DDEEF6;
    background: rgba(221, 238, 246, 0.9);
    _background-color: #DDEEF6;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

.break-word {
    /* word-wrap: break-word; */
    overflow: hidden;
}

.clear {
    clear: both;
}
/*
div.dashboard {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    height: 600px;
    overflow: hidden;
}

div.typing-assessment {
    position: relative;
    padding: 3px;
    z-index: 3;
    height: 100%;    
}
*/