<header id="problem-header">
  <div class="left">
    <span class="tweet-screen-name">
      <%= status.user.screen_name %>
      <span class="tweet-name">
	    <%= status.user.name %>
      </span>
    </span>
  </div>
  <div id="left-time" class="right"/>
  <div class="clear" />
</header>
<h2 id="problem-text"><%= status.text %></h2>
<div id="problem-input">
  <h2 id="problem-romaji"></h2>
</div>
