<h2 style="margin-bottom: 5px;">結果はどうだった？</h2>
<textarea id="textarea"	name="textarea" style="resize: vertical; width: 528px;">#twpist</textarea>
<div class="tweet-button-container">
  <button class="btn">結果をタイピングしてツイート</button>
</div>
